<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sobre</ion-title>

    <ion-icon name="alert-circle" slot="end" class="ion-padding"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, velit. Officiis, commodi, doloremque aliquam facere eveniet delectus distinctio, quisquam maiores iste impedit quas. Illo maiores, alias earum quisquam vel saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas, ex laborum expedita animi labore ipsum voluptatem cum ab sapiente totam repudiandae? Enim nihil quisquam repellendus libero iure temporibus incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus delectus, ut laudantium vero, exercitationem quod maxime reiciendis ex officia alias quidem? Blanditiis, quia nesciunt impedit alias perspiciatis veniam? Eaque, velit.
</ion-content>
