<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Politicas</ion-title>

    <ion-icon name="lock-closed" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    
      <h1>Política de Privacidade</h1>
    

    
        <h2>Informações Gerais</h2>
        <p>Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações pessoais que você fornece em nosso site.</p>
  

    
        <h2>Uso das Informações</h2>
        <p>As informações pessoais que coletamos são usadas para:</p>
        <ul>
            <li>Personalizar sua experiência no site</li>
            <li>Processar transações</li>
            <li>Enviar atualizações e informações relacionadas aos nossos serviços</li>
        </ul>
    

    
        <h2>Divulgação a Terceiros</h2>
        <p>Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros sem o seu consentimento, exceto quando necessário para atender a requisitos legais.</p>
    

    
        <h2>Segurança</h2>
        <p>Tomamos medidas razoáveis para proteger suas informações pessoais contra acesso não autorizado ou divulgação.</p>
    

   
        <h2>Alterações nesta Política</h2>
        <p>Esta Política de Privacidade pode ser atualizada ocasionalmente para refletir mudanças em nossas práticas de coleta e proteção de informações. Recomendamos que você revise periodicamente esta política.</p>
    

  
    


</ion-content>
