<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title class="ion-text-center">{{ env.appName }}</ion-title>
    <ion-icon ios="home-outline" md="home-sharp" slot="end" class="ion-padding"></ion-icon>
    <ion-progress-bar *ngIf="!view" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="view" class="ion-padding">

  <ion-list *ngIf="docView.length > 0">

    <div *ngFor="let item of docView">

      <ion-item [routerLink]="'/view/' + item.id">

        <ion-thumbnail slot="start">
          <img [alt]="item.name" [src]="item.image">
        </ion-thumbnail>
        <ion-label>{{ item.name }}</ion-label>

      </ion-item>

    </div>

  </ion-list>



</ion-content>